<h1 align="center">Create an Article</h1>

<%= render 'form' %>
<!-- This renders the partial view, 'form'. Doing this as the views 'new' and 'edit' have the same code. Path doesnt need to be specified as its within the same dir -->