<div class="center jumbotron">
  <h1>TestBlog</h1>
  <h3 style="color: white">About</h3>
  <p style="color: white">TestBlog is a simple demo web app using<br>Ruby on Rails, bcrypt, paginate, bootstrap and more.</p> 
    
</div>