<!DOCTYPE>
  <html>
    <head>
      <title>Jack's Test Site</title>
      <style>
        h1 {
          text-align: center;
          font-family: Arial, Helvetica, sans-serif;
          color: whitesmoke;
        }
        h3 {
          font-family: Arial, Helvetica, sans-serif;
        }
        p {
          font-family: Arial, Helvetica, sans-serif;
        }
        #left {
          float:left;
          width:33.3%;
        }
        #center {
          display: inline-block;
          margin:0 auto;
          width:33.3%;
        }
        #right {
          float:right;
          width:33.3%;
        }
      </style>
    </head>
    <body>
      <header style="background-color: black;">
        <h1>
          Jack's Test Site
        </h1>
        <nav style="text-align: center; color: whitesmoke; font-family: Arial, Helvetica, sans-serif;">
          <%= link_to 'Home   ', root_path %>
          <%= link_to '   About', about_path %>
        </nav>
      </header>      
      <hr>
        <div style="width: 100%; text-align: center;">
        <article id=left>
          <h3>Hey Look, an Article...</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium odit quis dolore qui eos! Aliquid accusantium sit, provident delectus cupiditate corporis, doloribus molestiae maxime totam nam dolorem quos! A natus, aperiam deleniti autem voluptate officia architecto? Explicabo corporis tempore ex cum possimus est optio perspiciatis velit quia reprehenderit! Modi, obcaecati.
          </p>
        </article>
        <article id=center>
          <h3>Another Article? No Way?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, eaque? Perspiciatis illo facere rerum est tempora quas natus animi non beatae molestiae vitae, doloremque veniam officiis corporis iure quo eius dolor? Voluptates earum, expedita, praesentium hic, fugiat est suscipit quos ullam fuga eum vero corporis dolorem sequi soluta aperiam. Magni!
          </p>
        </article>
        <article id=right>
          <h3>Alright, I'm Getting Sick of Them Now.</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio eligendi voluptatum corporis repellat unde officiis earum animi ipsam rem repudiandae inventore quaerat beatae nulla porro quas eum consequuntur ea nemo minus, quasi illo. Illo iusto enim officia cum, molestiae quam a magnam delectus qui ipsam veritatis explicabo consectetur! Pariatur, vero.
          </p>
        </article>
        </div>
        <br>
        <br>
        <hr>
        <footer style="text-align: center;">
          <small>&copy;2020 Jack Wells</small>
        </footer>
    </body>
  </html>