<div class="center jumbotron">
<!-- The 'center class is a custom class, see custom.css.scss -->
  <h1>TestBlog</h1>
  <%= link_to "Sign up now", "newusr", class: "btn btn-info btn-lg btn-xlarge" %>
</div>