<hr>
<div class="container">
  <footer class="footer" style ="text-align: center;">
    <small>
      &copy;2020 Jack Wells
    </small>
    <nav>
      <p style="font-size: 0.8em;"> <%= link_to "About", about_path %> | <a href="https://github.com/jrgwells/TestBlog" target="_blank">GitHub</p>
    </nav>
  </footer>
</div>